/* app css stylesheet */
body {
	background-color: #2E373B;
	margin: 0;
}

header {
	width: 100%;
	padding: 10px 0;
	
	font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
	font-size: 29px;
	color: white;
	font-weight: bold;
	text-align: center;
	
	background: rgb(54,64,70); /* Old browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(54,64,70,1)), to(rgba(51,60,66,1)));
	background: -webkit-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: -moz-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: -o-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364046', endColorstr='#333c42',GradientType=0 ); /* IE6-9 */


}

.horizontal-line {
	height: 5px;
	
	background: rgb(21,27,31); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(21,27,31,1) 0%, rgba(42,50,56,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,27,31,1)), color-stop(100%,rgba(42,50,56,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151b1f', endColorstr='#2a3238',GradientType=0 ); /* IE6-9 */

border-bottom: 2px solid #40484D;

}

.nv-legend-text {
	fill: #fff;
}

.container {
	width: 1200px;
	margin: 0 auto;

}
#main-chart {
  /*width: 600px; */
  height: 600px;
  margin: 0 auto;
  background-image: url("../img/stairs.jpg");
  margin-left: 140px;
}