/* app css stylesheet */
body {
	background-color: #2E373B;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin: 0;
}

header {
	width: 100%;
	padding: 10px 0;
	
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
	background: rgb(54,64,70); /* Old browsers which we don't fully support cause we hate them*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(54,64,70,1)), to(rgba(51,60,66,1)));
	background: -webkit-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: -moz-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: -o-linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%);
	background: linear-gradient(rgba(54,64,70,1) 0%, rgba(51,60,66,1) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364046', endColorstr='#333c42',GradientType=0 ); /* IE6-9 */

}

.horizontal-line {
	height: 5px;
	background: rgb(21,27,31); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(21,27,31,1) 0%, rgba(42,50,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,27,31,1)), color-stop(100%,rgba(42,50,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(21,27,31,1) 0%,rgba(42,50,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151b1f', endColorstr='#2a3238',GradientType=0 ); /* IE6-9 */

	border-bottom: 2px solid #40484D;
}

.nv-legend-text {
	fill: #fff;
}

.container {
	width: 1200px;
	margin: 0 auto;

}

#background-legend{
	z-index: -10;
	background: #2b333a;
	box-shadow: inset 0 0 1px #000;
	width: 120px;
	height: 350px;
	margin-top: -550px;
	margin-left:780px;
	float:left;
	color:#fff;
	padding:15px;
	font-size:14px;
}

#background-legend p, #background-legend span{
	padding-bottom:2px;
	border-bottom:3px solid #1d252c;
	display: block;
	margin:0;
	
}

#background-legend span{
	margin-top:260px;
}

#main-chart {
  /*width: 600px; */
  height: 600px;
  margin: 0 auto;
  margin-left: 140px;
  background-image: url(../img/circle_genre.png);
  background-repeat:no-repeat;
  background-position-y: 20px;
  background-position-x: 30px;
}

/*RADIO BUTTONS*/
.radio-toolbar {
	margin: 0 230px;
	text-align:center;
}
.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label:first-of-type{
	border-bottom-left-radius: 5px;
	border-top-left-radius:5px;
}

.radio-toolbar label:last-of-type{
	border-bottom-right-radius: 5px;
	border-top-right-radius:5px;
}

.radio-toolbar label {
    display:block;
    float:left;
    box-shadow: 0px 1px 2px #222;
   	background: #505f6c; /* Old browsers */
	margin:0;
    padding:10px 12px;
    font-size:16px;
    color:#fff;
    text-shadow: 1px 1px #333;
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
    background: #2a323a; /* Old browsers */
}


/* Tooltip */

.tooltip {
	position: absolute;
	padding: 10px;
	display: inline-block;
	min-height: 300px;
	background: #2b333a;
	color:#eee;
	width:130px;
	top: 100px;
	left:20px;
	box-shadow: inset 0px 0px 3px #222;
	font-size:12px;
}

.information-tooltip {
	position: absolute;
	background: #252b31;
	border: 1px solid #555;
	box-shadow: 1px 0 3px #222;
	margin-top:-24px;
	margin-left:70px;
	z-index:4;
	width:100px;
	padding:3px;
	font-weight: normal;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.information-tooltip:after, .information-tooltip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.information-tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #252b31;
	border-width: 10px;
	margin-top: -10px;
}
.information-tooltip:before {
	border-color: rgba(69, 80, 87, 0);
	border-right-color: #555;
	border-width: 11px;
	margin-top: -11px;
}

#legend-filters{
	width:50px;
	margin-left:90px;
	font-size:12px;
}

.nvtooltip{
	background: none!important;
	border:none;
}

.title-tooltip{
	display: block;
	font-weight: bold;
	width:130px;
	white-space: pre-wrap;
	text-size:15px;
	margin-bottom:10px;
}
.tooltip .studio{
	white-space: pre-wrap;
}
.tooltip img{
	width: 130px;
	height: auto;
}

.tooltip p{
	padding:0;
	margin:3px 0px;
	text-align: left;
}

.nvd3.nv-legend{
	background:#000;
}


/* RADIO BUTTONS AUDIENCE & CRITICS */
.rating-filters {
	width: 100px;
	color: white;
	font-size: 12px;
	float: right;
	margin-top: -220px;
	margin-right: 305px;
}

.rating-filters p{
	padding-bottom:2px;
	border-bottom:3px solid #1d252c;
}

.rating-filters label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 20px;  
    margin-right: 15px;  
    font-size: 13px;  
}  

.rating-filters input[type=radio] {  
    display: none;  
}  

.rating-filters label:before {  
    content: "";  
    display: inline-block;  
    width: 16px;  
    height: 16px;  
	border-radius: 8px;
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #2b333a;  
    box-shadow: inset 0px 0px 3px 0px #111; 
}  

.rating-filters .radio label:before {  
    border-radius: 8px;  
}  

.rating-filters input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #f3f3f3;  
    font-size: 30px;  
    text-align: center;  
    line-height: 15px;  
}  

.clear{
	display: block;
	clear:both;
	float:none;
	height:10px;
	width:10px;
}

#informationText{
	font-size: 14px;
	float:left;
	width:700px;
	text-align:center;
	color:#fff;
	padding:10px;
	background: #2b333a;
	box-shadow: inset 0 0 1px #000;
	margin: 10px 150px;
}
/* AJAX-LOADER */

#loader {
	display: none;
	text-align: center;
	position:absolute;
	left: 42%;
	top: 42%;
	color: white;
	z-index:9999;
}


.overlay {
	display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9998;
    color:white;
}